@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea,
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

figure {
    margin: 0;
}

button {
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

/*  common
------------------------------------------------------------------------ */
::selection {
    background-color: var(--cg1);
    color: var(--cwh);
}

:root {
    --cp1: #FEFEF2;
    --cp2: #242902;
    --cp3: #FFFBC4;
    --cp4: #806332;
    --cp5: #8E8A71;
    --cp6: #FFFDE7;
    --cwh: #fff;
    --cbk: #000;

    --cg1: #222;
    --cg2: #444;
    --cg3: #777;
    --cg4: #999;
    --cg5: #aaa;
    --cg6: #ccc;
    --cg7: #eee;
    --cg8: #f3f3f3;

    --fs0: 1.2rem;
    --fs1: 1.4rem;
    --fs2: 1.5rem;
    --fs3: 1.7rem;
    --fs4: 2rem;
    --fs5: 2.2rem;
    --fs6: 2.4rem;
    --fs7: 3.2rem;
    --fs8: 3.6rem;
    --fs9: 4rem;
    --fs10: 5rem;
    --fsmax: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--fs1);
    line-height: 1.5;
    font-weight: 400;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.maxw {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 979.99px) and (max-width: 1479.98px) {
    .maxw {
        max-width: 1280px;
    }
}

.lmt {
    width: calc(100% - 80px) !important;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.lmt-inner {
    width: calc(100% - 160px) !important;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.po {
    display: block !important;
}

.mo {
    display: none !important;
}

.nmt {
    margin-top: 0 !important;
}

.nmb {
    margin-bottom: 0 !important;
}

.npt {
    padding-top: 0 !important;
}

.npb {
    padding-bottom: 0 !important;
}

.mt1 {
    margin-top: 8px;
}

.mt2 {
    margin-top: 16px;
}

.mt3 {
    margin-top: 24px;
}

.mt4 {
    margin-top: 32px;
}

.mt5 {
    margin-top: 40px;
}

.mt6 {
    margin-top: 60px;
}

.mt7 {
    margin-top: 100px;
}

.mb1 {
    margin-bottom: 8px;
}

.mb2 {
    margin-bottom: 16px;
}

.mb3 {
    margin-bottom: 24px;
}

.mb4 {
    margin-bottom: 32px;
}

.mb5 {
    margin-bottom: 40px;
}

.mb6 {
    margin-bottom: 60px;
}

.mb7 {
    margin-bottom: 100px;
}

.pt1 {
    padding-top: 8px;
}

.pt2 {
    padding-top: 16px;
}

.pt3 {
    padding-top: 24px;
}

.pt4 {
    padding-top: 32px;
}

.pt5 {
    padding-top: 40px;
}

.pt6 {
    padding-top: 60px;
}

.pt7 {
    padding-top: 100px;
}

.pb1 {
    padding-bottom: 8px;
}

.pb2 {
    padding-bottom: 16px;
}

.pb3 {
    padding-bottom: 24px;
}

.pb4 {
    padding-bottom: 32px;
}

.pb5 {
    padding-bottom: 40px;
}

.pb6 {
    padding-bottom: 60px;
}

.pb7 {
    padding-bottom: 100px;
}

.off {
    opacity: 0;
    position: relative;
    top: 10px;
}

.on {
    opacity: 1;
    top: 0;
    transition: .3s;
}

.fx {
    display: flex;
    align-items: start;
}

.gap {
    gap: 32px;
}

.gap24 {
    gap: 24px;
}

.fxjc {
    justify-content: center;
}

.fxsb {
    justify-content: space-between;
}

.fxas {
    align-items: stretch;
}

.fxdc {
    flex-direction: column;
}

.fxnw {
    flex-wrap: nowrap;
}

.ctw {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.cth {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.cent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zero {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.rd1 {
    border-radius: 4px;
}

.rd2 {
    border-radius: 8px;
}

.rd3 {
    border-radius: 16px;
}

.ell {
    width: 100%;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
}

.ellmx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.btn {
    text-align: center;
    padding: 4px 16px;
    color: var(--cwh);
    font-size: var(--fs2);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: var(--cp1);
}

.btn2 {
    text-align: center;
    padding: 4px 16px;
    color: var(--cp1);
    font-size: var(--fs2);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: var(--cwh);
    border: 1px solid var(--cg6);
}

.btn:hover {
    transition: .3s;
}

.btn .ico {
    position: absolute;
    right: 16px;
    top: 50%;
    bottom: auto !important;
    transform: translate(0, -50%);
}

/* layout
------------------------------------------------------------------------ */
body {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    overflow-x: hidden;
    line-height: 1.6;
	word-break: keep-all;
    font-weight: 400;
    font-size: var(--fs2);
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background-color: var(--cp1);
    color: var(--cg2);
    font-family: "FFMarkProMedium", "yg130", "SUIT Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.ff {
    font-family: FFMarkProMedium;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px 0;
}

#header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a img {
    margin: 0 auto;
    display: block;
    height: 8vmin;
}

#sub-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 9;
    transition: .3s;
}

#sub-header #sub-header-inner {
    padding: 16px 0;
    background-color: var(--cp1);
}

#sub-header-tail {
    width: 100%;
    height: auto;
    display: block;
}

.home #sub-header {
    top: -160px;
    width: 100%;
    position: fixed;
    padding: 0;
    z-index: 9;
    transition: .3s;
}

.hbo {
    width: 100%;
    height: 24px;
    display: block;
}

.home #sub-header.act {
    top: 0;
    transition: .4s;
}

#sub-header #logo img {
    display: block;
    height: 36px;
    width: auto;
}

#gnb {
    width: 100%;
    display: flex !important;
	align-items: center;
}

#gnb li a {
    font-size: var(--fs2);
    color: var(--cg4);
    text-transform: uppercase;
    letter-spacing: .025rem;
    transition: .3s;
}

#gnb li a:hover {
    color: var(--cg1);
    transition: .5s;
}

#gnb li a.act {
    color: var(--cg1);
}

#container {
    width: 100%;
    position: relative;
}

.p-news #container::before,
.home #container::before {
    content: "";
    position: absolute;
    left: 40px;
    top: 0;
    background-image: url(images/line-g.png);
    width: 2px;
    height: 100%;
    z-index: 5;
}

.p-news #container::after,
.home #container::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 0;
    background-image: url(images/line-g.png);
    width: 2px;
    height: 100%;
    z-index: 5;
}

.home #container::after,
.home #container::before {
    position: fixed;
}

#message {}

#message li {
	/* 240924 
    text-transform: uppercase;
	*/
    text-transform: capitalize;
}

#sh {
    position: absolute;
    top: -40px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    z-index: -1;
}

#p1 {
    top: 0;
}

#p2 {
    top: -3px;
}

#bek {
    background: var(--cp1);
    height: auto;
}

#bek img {
    transform: scale(94%);
    aspect-ratio: auto;
}

.p {
    width: 8px;
    height: 100%;
    background-image: url(images/p.png);
    left: calc(33.3333% - 4px);
    top: 0;
    position: absolute;
    z-index: 5;
}

.pp {
    right: calc(33.3333% - 4px);
    left: auto;
}

#box-wrap {
}
.home #container {
    margin-top: calc(100vh + 50px) !important;
	padding-top: 0 !important;
}

#box-inner {
    display: flex;
}

#box-wrap #col2 {
    margin-top: -4px;
}

#box-wrap #col3 {
    margin-top: -25px;
}

.home {
    position: relative;
    z-index: 0;
}

.home #container::before,
.home #container::after {
    z-index: -1;
}

.home section div article {
    flex: 1;
    width: 32%;
    margin: 0;
    padding: 0;
}

.home section div article figure {
    position: relative;
    margin: 0;
}

.home section div figure img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1.34;
    object-fit: cover;
}

.home section div figure img.hx {
    height: 920px;
}

.home section div .vi-wrap {
    position: relative;
}

.home section div .vi-wrap::after,
.home section div a.goto-sub::after,
.home section div figure::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    background-image: url(images/ph.png);
    width: 100%;
    height: 8px;
    z-index: 5;
}

#video_3 {
    aspect-ratio: 1 / 1.6;
}

.home section div article a.goto-sub {
    position: relative;
    background-image: url(images/main-story-bg.png);
    background-size: 100%;
    background-position: center;
    aspect-ratio: 1 / 1.34;
    display: flex;
    flex-direction: column;
    color: var(--cp1);
    align-items: center;
    transition: 1s;
}

.home section div article video {
    aspect-ratio: 1 / 1.34;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.home section div article a.goto-sub:hover {
    background-size: 105%;
    transition: 5s;
}

.home section div article a#craft {
    background-image: url(images/main-craft-bg.png);
}

.home section div article a#taste {
    padding-top: 23px;
    background-image: url(images/main-taste-bg.png);
}

.home section div article a.goto-sub h3 {
    margin-top: 5vmin;
    font-size: calc(var(--fs6) + .35vw);
    z-index: 1;
}

.home section div article a.goto-sub h4 {
    font-size: var(--fs3);
    z-index: 1;
}

.home section div article a.goto-sub h5 {
    margin-bottom: 5vmin;
    margin-top: auto;
    font-size: var(--fs2);
    z-index: 1;
}

.home main {
    position: relative;
    z-index: 0;
}

#img-ft-top {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
    margin-top: -7vmin;
}

footer {
    position: relative;
    background-color: var(--cp2);
    color: var(--cp1);
    padding-bottom: 32px;
}

footer #ft-tagline {
    padding-top: 14vmin;
    display: flex;
    justify-content: flex-end
}

footer ul {
    display: flex;
}

footer #ft-tagline>p {
    margin-right: auto;
}

footer #ft-info ul {
    font-size: var(--fs1);
    flex-direction: column;
}

footer #ft-info {
    padding-top: 6vmin;
    display: flex;
    justify-content: flex-start;
    gap: 5vmin;
	position: relative;
}

footer #ft-info img {
    width: 224px;
}

footer #ft-info img#insta {
    width: 28px;
}

footer #ft-info img#logo-ksd {
    margin-left: auto;
    width: 108px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.sec-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#container ul.thumb-list {
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

#container ul.thumb-list li {
    width: calc(33.33333333% - 20px);
}

@media (min-width: 1599.99px) and (max-width: 9999.98px) {
    #container ul.thumb-list {
        gap: 20px;
    }

    #container ul.thumb-list li {
        width: calc(20% - 16px);
    }
}


/* 240930 */
#container ul.thumb-list li a {
	display: block;
	position: relative;
	overflow: hidden;
}
#container ul.thumb-list li a::before {
	display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to bottom, rgba(35, 18, 9, 0), rgba(35, 18, 9, .6));
    z-index: 1;
    bottom: 0;
	opacity: 0;
}
#container ul.thumb-list li a:hover::before {
	opacity: 1;
	transition: .5s;
}
#container ul.thumb-list li a:hover img {
	transform: scale(1.1);
	transition: 1s;
}
#container ul.thumb-list li a img {
	height: auto;
	display: block;
    width: 100%;
	transition: .3s;
}
/* 240930 */

#container ul.thumb-list li .info {
    margin-top: 8px;
}

#container ul.thumb-list li .info h3 {
    font-size: var(--fs3);
}

#container ul.thumb-list li .info h6 {
    margin-top: 4px;
    font-size: var(--fs2);
    color: var(--cg5);
}

/* vi 
   ------------------------ */
#vi {
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
}

.home #vi {
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
    background: var(--cp1);
    left: 40px;
    top: 0;
    position: fixed;
    z-index: -1;

    overflow: hidden;
}

.home #vi h6 {
    bottom: 0;
    top: auto;
    text-transform: uppercase;
    background-image: url(images/ico-arrow-d.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center bottom;
    padding-bottom: 20px;
}

.home #vi div {
    height: 72%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-image: url(images/mainbg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

#vi::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url(images/line-g.png);
    width: 100%;
    height: 2px;
    z-index: 5;
}

#vi img.bottle {
    position: absolute;
    width: auto;
    height: 64vmin;
}

#vi img.mainbg {
    width: 100%;
    height: auto;
}

#vi {
    background-color: var(--cbk);
    position: relative;
    margin-top: 68px;
    height: auto;
}

#vi p#tagline {
    color: var(--cp1);
    position: absolute;
    left: 50%;
	top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    perspective: 1000px;
    justify-content: center;
	transform: translate(-50%, 0);
}

#vi p#tagline span {
    filter: blur(10px);
    font-size: calc(var(--fs5) + .35vw);
    display: block;
    position: relative;
    margin-bottom: 0;
    /* 글자 간 간격 조정 */
    opacity: 0;
    top: 30px;
    /* 시작 위치 */
}

/* story
   ------------------------ */
.p-story #vi {
    width: 100%;
    height: calc(100vh - 68px);
    background-image: url(images/bg-story.jpg);
}
.p-story #vi video {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 68px);
}
.p-story #vi .gradient-opacity-video {
	width: 100%;
	height: 100%;
}
.p-story #vi img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
	bottom: 0;
	opacity: 0;
	transform: translate(0, 10px);
}
.p-story #vi img.act {
	opacity: 1;
	transform: translate(0);
	transition: 1s;
}

#scent {
    position: relative;
}

.scent-img {
    position: absolute;
    max-width: 32%;
    opacity: 0;
    filter: blur(10px);
    transform: translate(0, -10px);
    transition: opacity 0.3s, filter .3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#img1.scent-img {
    top: 5%;
    left: 7%;
}

#img2.scent-img {
    top: 32%;
    right: 7%;
}

#img3.scent-img {
    top: 64%;
    left: 7%;
}

#img4.scent-img {
    top: auto;
    bottom: 10%;
    right: 7%;
}

#scent img,
.scent-img img {
    display: block;
    width: 100%;
    height: auto;
}

#scent div {
    display: block;
    color: var(--cp1);
    top: 35%;
    left: 16%;
    position: absolute;
    max-width: 32%;
    min-width: 400px;
    font-size: var(--fs4);
}

#scent div span {
    transition: opacity 0.6s, filter 0.6s, transform 0.6s;
}

#scent .ho {
    max-width: 20%;
}

.gradient-opacity-video {
    position: relative;
}

.gradient-opacity-video video {
    display: block;
}

.gradient-opacity-video::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    background-image: linear-gradient(to bottom, rgba(35, 18, 9, 0), rgba(35, 18, 9, 1));
    pointer-events: none;
    /* 비디오 컨트롤에 영향을 주지 않음 */
}

#scent::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30%;
    background-image: linear-gradient(to top, rgba(35, 18, 9, 0), rgba(35, 18, 9, 1));
    pointer-events: none;
    /* 비디오 컨트롤에 영향을 주지 않음 */
}

#addscent {
    background-color: var(--cp3);
    padding: 120px 0;
}

#addscent.add {
    background-color: var(--cp6);
    padding: 120px 0;
}

#addscent .sec-inner {
    gap: 10%;
}

#addscent .sec-inner>* {
    flex: 1;
}

#addscent .sec-inner figure img {
    width: 100%;
}

#addscent .txt-component {
    width: 34%;
}

#adds-vi {
    width: 60%;
    margin-left: 40%;
}

#heritage {
    position: relative;
    height: 90vh;
    background-image: url(images/heritage-bg.jpg);
    background-size: cover;
}

#heritage div {
    width: 90%;
    text-align: center;
    color: var(--cp1);
}

#heritage div i {
    display: block;
    width: 0%;
    height: 2px;
    background-image: url(images/heritage-line-w.png);
    background-size: contain;
    background-position: center;

    opacity: 0;
    transition: 0.5s ease;
}

#heritage.act i {
    width: 100%;
    transition: 1.5s ease;
    opacity: 1;
}

#heritage div::before {
    content: "";
    background-image: url(images/heritage-line-ho.png);
    width: 2px;
    position: absolute;
    height: 0;
    top: 0;
    display: block;
}

#heritage div::after {
    content: "";
    background-image: url(images/heritage-line-ho.png);
    width: 2px;
    right: 0;
    top: 0;
    position: absolute;
    height: 0;
    display: block;
}

#heritage.act div::after,
#heritage.act div::before {
    height: 100%;
    transition: 1.5s ease;
}

#heritage div img {
    width: 100%;
}

#heritage div h3 {
    font-size: calc(var(--fs4) + .35vw);
    margin: 10px 0;
}

#heritage h3 span {
    display: inline-block;
    transition: opacity 0.5s ease;
}

#plus-beauty {
    padding-bottom: 240px;
    padding-top: 120px;
}

#plus-beauty img {
    width: 100%;
}

#plus-beauty .txt-component {
    text-align: center;
    width: 64%;
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 800px;
}

div.txt-component h3 {
    font-size: calc(var(--fs5) + .35vw);
    line-height: 1.8;
    margin-bottom: 8px;
}

div.vertical-p p {
    font-size: calc(var(--fs5) + .35vw);
    line-height: 1.8;
}

div.txt-component p {
    line-height: 1.8;
    font-size: calc(var(--fs3) + .1vw);
}

#blob-animation-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#blob-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blob-image {
    width: 100%;
    height: auto;
    display: block;
    visibility: hidden;
}

/* taste 
   ------------------------ */
.p-taste #vi .vertical-p {
    color: var(--cp1);
    position: absolute;
    left: 50%;
    z-index: 2;
	top: 50%;
	transform: translate(-50%, -50%);
}
.p-taste #vi .vertical-p span {
	height: 43px;
}
.p-taste #vi .vertical-p span:empty {
	height: 32px;
}
.p-taste #vi {
	width: 100%;
	height: calc(100vh - 68px);
	position: fixed;
	top: 0;
}
.p-taste #vi .gradient-opacity-video {
	height: 100%;
}
.p-taste #vi .gradient-opacity-video img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.p-taste main {
	margin-top: 100vh;
	padding-bottom: 3vh;
}
.p-taste #page-head {
	background: var(--cp1);
	padding: 15vh 0 10vh;
	text-align: center;
}
.p-taste #page-head h2 {
	font-size: var(--fs7);
}
.p-taste #page-head h3 {
	font-size: var(--fs3);
}
.p-taste #page-head p {
	margin-top: 10vh;
	font-size: var(--fs5);
}
.p-taste .sec {
	background: var(--cp1);
}
.p-taste .sec-inner {
	align-items: stretch;
}
.p-taste .sec-txt,
.p-taste .flx5 {
	width: 50%;
	max-width: 50%;
	overflow: hidden;
}
.p-taste .flx5 img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
}
.p-taste .flx5 video {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.p-taste .sec-txt {
	background: var(--cp3);
	padding: 3vmax;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
}
.p-taste #taste-bak .sec-txt {
	background: var(--cp4);
	color: var(--cwh);
}
.p-taste #taste-lee .sec-txt {
	background: var(--cp1);
}
.p-taste #taste-info .sec-txt {
	background: var(--cp1);
}
.p-taste #taste-info .txt-component {
	margin-bottom: 3vh;
}
.p-taste .sec-txt .vertical-p {
	position: static;
	flex-direction: row;
	overflow: hidden;
}
.p-taste .sec-txt .vertical-p span {
	filter: blur(0);
	font-size: var(--fs6);
	padding: 0 1px;
}
.p-taste .sec-txt .vertical-p span:empty {
	width: .4em;
}
.p-taste .sec-txt .vertical-p p {
	font-size: 0;
	writing-mode: horizontal-tb;
}
.p-taste  .sec-txt .txt-component h3 {
	font-size: var(--fs3);
	padding-bottom: 4px;
	position: relative;
}
.p-taste  .sec-txt .txt-component h3::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    background-image: url(images/line-b.png);
    width: 100%;
    height: 1.5px;
    z-index: 5;
}
.p-taste #taste-bak .sec-txt .txt-component h3::after {
    background-image: url(images/line-w.png);
}
.p-taste  .sec-txt .txt-component h3 span {
	font-size: var(--fs1);
	margin-left: 12px;
	display: inline-block;
}
#taste-info ul li {
	display: flex;
	flex-direction: row;
	padding: 12px 0;
	position: relative;
}
#taste-info ul li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url(images/line-b.png);
    width: 100%;
    height: 1.5px;
    z-index: 5;
}
#taste-info ul li h4 {
	width: 20%;
	line-height: 1.8;
	font-size: calc(var(--fs3) + .1vw);
}
#taste-info ul li div {
	width: 80%;
	line-height: 1.8;
	font-size: calc(var(--fs3) + .1vw);
}
#taste-info ul li #rich p {
	display: flex;
}
#taste-info ul li #rich p span {
	width: 30%;
}
#taste-info ul li #rich p img {
	height: auto;
	width: 70%;
	aspect-ratio: auto;
}
/* craft 
   ------------------------ */
.p-craft #vi {
    position: fixed;
    top: 0;
}

.p-craft main {
    margin-top: calc(100vh + 50px);
}

.p-craft #vi video {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 68px);
}

.p-craft .gradient-opacity-video::after {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(35, 18, 9, 0), rgba(35, 18, 9, .3));
    pointer-events: none;
    /* 비디오 컨트롤에 영향을 주지 않음 */
}

.p-craft #container .sec {
    position: relative;
    background: var(--cp1);
    padding: 8vh 0;
    overflow: auto;
}

.p-craft #container .sec video, 
.p-craft #container .sec figure {
    width: 100%;
    max-width: 68%;
    float: right;
    clear: both;
}

.p-craft #container .sec figure.ho {
    max-width: 42%;
}

.p-craft #container .sec figure.lf {
    float: left;
}

.p-craft #container .sec figure.w5 {
    max-width: 50%;
}

.p-craft #container .sec figure img {
    width: 100%;
}

.p-craft #container .sec-title {
    margin-bottom: 100px;
    font-size: var(--fs3);
    text-align: center;
}

.p-craft .sec-inner .txt-component {
    width: 34%;
}

.p-craft .sec-inner .txt-component p {
    margin-bottom: 24px;
}

.p-craft .sec-inner .fl {
    float: right;
}

.vertical-p {
    position: relative;
    z-index: 1;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    flex-direction: row-reverse;
}

.vertical-p p {
    writing-mode: vertical-rl;
    white-space: nowrap;
    margin-right: 20px;
    /* 문장 사이의 간격 */
}

img.bo {
    display: block;
    width: 100%;
}

.craft-mask {
    width: 70%;
    max-width: 1280px;
    z-index: 0;
}

#bo5 {
    margin-top: -79px;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 2;
}

#bo6 {
    margin-top: -39px;
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.craft-mask img {
    width: 100%;
    display: block;
}

.vertical-p span {
    display: inline-block;
    margin-bottom: 4px;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(30px);
    transition: opacity 0.7s, filter 0.7s, transform 0.7s;
}

/* 띄어쓰기 유지를 위한 스타일 */
.vertical-p span:empty {
    width: 1em;
    height: .25em;
}

.p-craft #craft-seolgaengmi {
    background: var(--cp4) !important;
    color: var(--cp1) !important;
}

#realrice {
    margin-top: -15vh;
    margin-bottom: 10vh;
}

.p-craft #craft-r4 {
    background: var(--cp3) !important;
}

.p-craft #craft-natural {
    background: var(--cp5) !important;
    color: var(--cg1) !important;
    padding-bottom: 15vh !important;
}

.p-craft #craft-natural .craft-mask {
    top: auto !important;
    bottom: 0 !important;
    transform: translate(-50%, 0);
}

.p-craft #craft-natural .craft-mask img {
    height: 50vh;
    object-fit: cover;
}

.p-craft #craft-natural figure {
    width: 100%;
    max-width: 93% !important;
}

/* news 
   ------------------------ */
.p-news main {}

.p-news #container {
    padding-top: 40px;
    margin-top: 110px;
    padding-bottom: 180px;
    z-index: 0;
}

.p-news main::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url(images/line-g.png);
    width: 100%;
    height: 2px;
    z-index: 5;
}

#news-list .sec-inner {}

/* view 
   ------------------------ */
.p-view #hero {
    width: 100%;
    height: 720px;
    position: relative;
}

.p-view #hero::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, rgba(35, 18, 9, 0), rgba(35, 18, 9, .4));
    z-index: 1;
    bottom: 0;
}

.p-view #hero .txt {
    text-align: center;
    width: 70%;
    max-width: 960px;
    bottom: 32px;
    z-index: 2;
}

.p-view #hero .txt h3 {
    font-size: var(--fs7);
    color: var(--cp1);
}

.p-view #hero .txt h6 {
    font-size: var(--fs2);
    color: var(--cp1);
    margin-top: 48px;
}

.p-view #hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-view #post {
    max-width: 900px;
    margin: 120px auto;
    overflow: hidden;
}
/* 241002 */
.p-view #post a {
	color: var(--cp4);
	border-bottom: 1px solid;
}
.p-view #post a:hover {
	border-bottom: none;
}
/* 241002 */

.p-view #post p {
    font-size: var(--fs3);
    line-height: 1.9;
    word-break: auto-phrase;
	/* 240930
    margin-bottom: 20px;
	240930 */
}

.p-view #post figure {
    width: 100%;
}

.p-view #post figure img {
    width: 100%;
    height: auto;
}

.p-view #post figure figcaption {
    width: 100%;
    font-size: var(--fs1);
    color: var(--cg3);
    text-align: center;
}

.p-view #container ul.thumb-list {
    gap: 20px;
    padding-bottom: 12vh;
}

.p-view #container ul.thumb-list li {
    width: calc(20% - 16px);
}

.p-view #container ul.thumb-list li .info h3 {
    font-size: var(--fs2);
}

#gotolist {
    position: relative;
    margin-top: 64px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gotolist::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url(images/line-g.png);
    width: 100%;
    height: 1.5px;
    z-index: 5;
}

/* 241002 */
.p-view #post #gotolist a {
	position: relative;
    display: inline-block;
    width: 164px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: var(--fs2);
    color: var(--cg3);
    text-decoration: none;
    background-image: url(images/btn-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
	border: none;
}
/* 241002 */
#gotolist a:hover {
}

/* intro 
   ------------------------ */
#intro-text {
	width: 100%;
	height: 100%;
}
#intro-text p#tagline {
    position: absolute;
    left: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    perspective: 1000px;
    justify-content: center;
}

#intro-text p#tagline span {
    filter: blur(10px);
    font-size: calc(var(--fs5) + .35vw);
    display: block;
    position: relative;
    margin-bottom: 0;
    /* 글자 간 간격 조정 */
    opacity: 0;
    top: 30px;
    /* 시작 위치 */
}
#intro-container {
	background: var(--cp1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 99;
}
#intro-text, #symbol-mark {
	position: absolute;
	font-size: 3em;
	display: none;
}
#symbol-mark img {
	display: block;
	height: auto;
	width: 30%;
	max-width: 180px;
	min-width: 120px;
	margin: 0 auto;
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2000;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background-image: url(images/popbg.png);
    background-size: cover;
    background-repeat: no-repeat;
	padding: 32px;
	border-radius: 5px;
	text-align: center;
	width: 40%;
	max-width: 520px;
	min-width: 400px;
	box-sizing: border-box;
}
.popup p {
	font-size: var(--fs3);
	align-items: center;
}

.popup button {
	display: inline-block;
	width: 164px;
	height: 46px;
	text-align: center;
	font-size: var(--fs2);
	color: var(--cg3);
	text-decoration: none;
	background-image: url(images/btn-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--cp3);
	cursor: pointer;
	border: none;
	position: relative;
	overflow: hidden;
}

.popup button::before {
	content: '';
	position: absolute;
	top: 2px; /* 조정 가능 */
	left: 2px; /* 조정 가능 */
	right: 2px; /* 조정 가능 */
	bottom: 2px; /* 조정 가능 */
	background-color: var(--cbk);
	opacity: 0;
	transition: opacity 0.4s;
	z-index: 1;
}

.popup button:hover::before {
	opacity: 1;
}
.popup button:hover span {
	color: var(--cg6);
}
.popup button span {
	position: relative;
	z-index: 2;
}


/* 240930 */
/* pagination */
#pagination {
	margin-top: 40px;
}
#pagination ul {
	gap: 4px;
}
#pagination ul li a {
	font-size: var(--fs3);
	text-align: center;
	color: var(--cg3);
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 100px;
}
#pagination ul li a:hover {
	background-color: var(--cg7);
	transition: .3s;
}
#pagination ul li a.act {
	background-color: var(--cp2);
	color: var(--cwh);
	transition: .3s;
}

#pagination ul li.arrow a span {
	display: block;
	width: 100%;
	line-height: 32px;
	border-radius: 100px;
	height: 100%;
	background-image: url(images/ico-arr-left.svg);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
#pagination ul li.next a span {
	background-image: url(images/ico-arr-right.svg);
}
#pagination ul li.arrow a:hover span {
	background-color: var(--cg7);
	transition: .3s;
}
/* 241002 */
#post a.btn {
	background: var(--cp2);
	color: var(--cwh);
	border: none;
	border-radius: 2px;
}
#post a.btn:hover {
	background: #3a4204;
	transition: .3s;
}
/* 241002 */
/* 240930 */
@media all and (max-width: 980px) {
	.p-taste .sec-inner {
		flex-direction: column;
	}
	.p-taste .sec-txt, .p-taste .flx5 {
		width: 100%;
		max-width: 100%;
	}
	.p-taste .sec-txt .vertical-p {
		margin-bottom: 10vh;
	}
	.p-taste #taste-info .sec-inner, 
	.p-taste #taste-lee .sec-inner {
		flex-direction: column-reverse;
	}
	.vertical-p p {
		margin-right: 10px;
	}
	.p-craft .sec-inner .txt-component {
		width: 42%;
	}
	.p-taste #taste-info .sec-txt {
		padding-left: 0;
		padding-right: 0;
	}
	footer #ft-info {
		flex-direction: column;
	}
	.p-view #container ul.thumb-list li {
		width: calc(33.3333% - 14px);
	}
	footer #ft-info img {
		width: 164px;
	}
	header a img {
		height: 15vh;
		margin-top: 2vh;
	}
	.home #vi {
		height: 70vh;
		margin-top: 25vh;
	}
}