@charset "utf-8";
/* 심슨 가족 인사 애니메이션 CSS - simpson.css */

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&display=swap");

html,
body {
  height: 100%;
}

body {
  /* 배경이미지 넣기 */
  /* 색(컬러) 이(이미지) 반(반복) 고 위(위치)/크(크기) */
  background: #000 url(../images/oldTVON.png) no-repeat center/auto 100%;
}

/* 타이틀 */
.tit {
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  translate: -50%;
  font-family: "Gochi Hand", cursive;
  font-size: 100px;
  text-shadow: -5px -5px 0 rgb(0, 0, 0), 5px -5px 0 rgb(0, 0, 0),
    -5px 5px 0 rgb(0, 0, 0), 5px 5px 0 rgb(0, 0, 0);
  color: #fff713;
  white-space: nowrap;
  font-weight: normal;
}

/* 전체박스 */
.hart {
  position: absolute;
  /* 부모자격 - 하위 앱솔루트 요소들 */
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 800px;
  height: 441px;

  /* 배경이미지 */
  background: url(../images/nj_bg2.jpg) no-repeat;

  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
}

/* 임시로 숨기기 */
.minji ~ * {
  display: none;
}

/* 1.민지 */
.minji {
  position: absolute;
  top: 305px;
  left: 351px;
  /* 부모는? .house */
  width: 31px;
}

/* 2.말풍선 */
.words {
  /* 앱솔루트 */
  position: absolute;
  top: 30px;
  left: 130px;
  /* 부모: .house */

  /* 트랜스폼 스케일로 축소 */
  scale: 0.85;
  /* transform: scale(.85); */

  /* 박스설정 */
  background-color: #fff;
  padding: 35px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;

  /* 글자설정 */
  /* 스두크/줄체 : 스타일 두께 크기/줄간격 글자체 */
  /* font: italic bold 16px/1.5 Arial, sans-serif; */
  font: 15px/1.5 verdana;

  /* 기본 셋팅 말풍선 투명하게 */
  opacity: 0;
}

/* 말풍선 삼각형 가상요소 만들기 */
.words::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  /* 트랜스폼으로 위치 이동 및 회전 */
  /* transition : X축 Y축 */
  translate: -28px 16px;
  /* rotate : 회전 각도 */
  rotate: -35deg;

  /* 보더로 삼각형 만들기 */
  /* > 가로, 세로는 모두0
     > 위 또는 아래 보더 주기
     > 양쪽 보더는 동일, transparent 투명색 설정 */
  width: 0;
  height: 0;
  border-top: 42px solid rgb(255, 255, 255);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

/* 말풍선 삼각형 가상요소 만들기 */
.words::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  /* 트랜스폼으로 위치 이동 및 회전 */
  /* transition : X축 Y축 */
  translate: -28px 19px;
  /* rotate : 회전 각도 */
  rotate: -28deg;

  /* 보더로 삼각형 만들기 */
  /* > 가로, 세로는 모두0
     > 위 또는 아래 보더 주기
     > 양쪽 보더는 동일, transparent 투명색 설정 */
  width: 0;
  height: 0;
  border-top: 35px solid rgb(0 0 0);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* 삼각형 안쪽 흰색처리 */
.words::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  /* 트랜스폼으로 위치 이동 및 회전 */
  /* transition : X축 Y축 */
  translate: -29px 17px;
  /* rotate : 회전 각도 */
  rotate: -28deg;

  /* 보더로 삼각형 만들기 */
  /* > 가로, 세로는 모두0
     > 위 또는 아래 보더 주기
     > 양쪽 보더는 동일, transparent 투명색 설정 */
  width: 0;
  height: 0;
  border-top: 35px solid rgb(255 255 255);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* 3.혜인 */
.hyein {
  position: absolute;
  bottom: -210px;
  right: -300px; /* -230px; */
  width: 430px;
  transform-origin: bottom;
  rotate: 0deg; /* -18deg; */
}

/* 4.하니 */
.hanni {
  position: absolute;
  top: 205px;
  left: -236px; /* 20px; */
  width: 200px;
  rotate: 0deg;
}

/* 5.다니엘 */
.danielle {
  position: absolute;
  bottom: -230px; /* -55px; */
  left: 140px;
  width: 165px;
}

/* 6.해린 */
.haerin {
  position: absolute;
  top: -323px; /* -149px; */
  right: 146px;
  width: 240px;

  /* 거꾸로 돌리기 */
  rotate: 180deg;
}

#tv {
  position: absolute;
  top: 50%;
  left: 55%;
  translate: -50% -50%;
  width: 1052px;
}
