@charset "utf-8";
/* 서브 페이지 css - sub.css */

/* 공통 외부 css 불러오기 */
/* @import url(경로/파일명); */
@import url(./common.css);



/* 2-1. 서브 타이틀 */
.sub-title{
    /* (1) 박스 디자인 */
    /* 패딩 */
    padding: 40px;
    /* 글자 중앙정렬 */
    text-align: center;
    /* 테두리 */
    border: 2px solid #3f63bf;
    /* 둥근 모서리 */
    border-radius: 20px;
    /* 배경 이미지 넣기 */
    background: url(../images/titbg4.jpg) no-repeat 0/cover;



    /* (2) 텍스트 디자인 */
    font-size: 30px;








}
/* 2-2. 언론사 로고 */
/* 2-3. 기사 제목 */
/* 2-4. 기사 사진 및 정보 */
/* 2-5. 기사 내용 */
/* 2-6. 기자 정보 */
/* 2-7. 기사 원문 */